/* modern reset css start */
/* Box sizing rules */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Remove default padding */
ul[class],
ol[class] {
    padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
figure,
blockquote,
dl,
dd {
    margin: 0;
}

/* Set core root defaults */
html {
    scroll-behavior: smooth;
}

/* Set core body defaults */
body {
    min-height: 100vh;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
    list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
    text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
    max-width: 100%;
    display: block;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
    margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
    font: inherit;
}

/* Blur images when they have no alt attribute */
img:not([alt]) {
    filter: blur(10px);
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
    * {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}
/* modern reset css end -------------------------------- */

/*general style start*/

body {
    font-family: "HelveticaNeueCyr", sans-serif;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.bg-pic {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

button.primary,
button.secondary {
    font-weight: 900;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 1px;
    text-transform: uppercase;
    padding: 20px 55px;
    border-radius: 3px;
    cursor: pointer;
}

button.primary {
    color: #fff;
    background-color: #D20000;
    border: none;
}

button.secondary {
    color: #403D37;
    background-color: transparent;
    border: 1px solid #403D37;
}

section {
    padding: 64px 0;
}

.section-name {
    font-size: 25px;
    line-height: 140%;
    color: #828282;
    position: relative;
    margin-bottom: 32px;
    padding-left: 48px;
}

.section-name:before {
    position: absolute;
    content: "";
    width: 32px;
    height: 4px;
    left: 0;
    top: calc(50% - 2px);
    background-color: #D20000;
}

.section-title {
    font-weight: 900;
    font-size: 48px;
    line-height: 140%;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #403D37;
}

/*general style end*/



/*header start*/

.header {
    position: absolute;
    top: 0;
    width: 100%;
    height: 90px;
    background-color: transparent;
    z-index: 5;
    padding: 20px 0;
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.header-logo {
    width: 143px;
    height: 64px;
}

.phone-link {
    font-weight: 900;
    font-size: 32px;
    line-height: 120%;
    color: #fff;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.phone-link-icon {
    width: 48px;
    height: 48px;
    margin-left: 20px;
    padding: 16px;
    background-color: #D20000;
}

/* menu */

/*burger start*/
.menu-burger {
    display: none;
    width: 48px;
    height: 48px;
    border: 1px solid #fff;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.menu-burger:hover span:before {
    top: 10px;
}

.menu-burger:hover span:after {
    bottom: 10px;
}

.menu-burger span{
    width: 24px;
    border-bottom: 1px solid #fff;
    position: relative;
    transition: .3s;
}

.menu-burger span:before,
.menu-burger span:after {
    position: absolute;
    content: "";
    width: 24px;
    border-bottom: 1px solid #fff;
    transition: .1s;
}

.menu-burger span:before {
    top: 7px;
}

.menu-burger span:after {
    bottom: 7px;
}

.menu-burger.active span {
    width: 0;
}

.menu-burger.active span:before {
    width: 0;
}
/*burger end*/


.menu a {
    text-decoration: none;
    color: #fff;
    padding: 5px 10px;
    font-weight: 900;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.menu ul,
.menu li {
    margin: 0;
    padding: 0;
    list-style: none;
}

.menu > ul {
    display: flex;
}

.menu > ul > li {
    position: relative;
}

.menu > ul > li:last-child {
    margin: 0;
}

.menu a:hover {
    color: #EB5757;
}

.menu > ul > li:hover .sub-menu{
    opacity: 1;
    z-index: 1;
}

.sub-menu {
    width: 100vw;
    position: absolute;
    opacity: 0;
    z-index: -10;
    transition: .2s;
}


@media screen and (max-width: 1200px){
    .menu-burger {
        display: flex;
        /*position: absolute;*/
        /*top: 10px;*/
        /*right: 10px;*/
        z-index: 20;
    }

    .menu {
        width: 100%;
        position: absolute;
        top: -20px;
        left: -100%;
        font-size: 7vw;
        background-color: #000;
        transition: .3s;
    }

    .menu a {
        margin: 10px 0;
        display: block;
    }

    .menu.active {
        left: 0;

    }

    .menu ul {
        flex-direction: column;
        align-items: center;
        opacity: 1;
        z-index: 1;
    }

    .menu .sub-menu {
        position: initial;
        margin-left: 20px;
    }

}

/*menu end*/

/*header end*/



/*hero start*/

.hero {
    width: 100vw;
    height: 100vh;
    position: relative;
    padding-top: 90px;
}

.hero:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(1,1,1,.5);
    z-index: -1;
}

.hero-bg {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    z-index: -2;
}

.hero .container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.hero-title,
.hero-title-transparent {
    font-weight: 900;
    font-size: 80px;
    line-height: 120%;
    text-transform: uppercase;
}

.hero-title {
    color: #fff;
}

.hero-title-transparent {
    -webkit-text-stroke: 2px #fff;
    -webkit-text-fill-color: transparent;
    margin-bottom: 64px;
}





/*hero end*/

/* services start*/

.services-title {
    font-weight: 900;
    font-size: 32px;
    line-height: 120%;
    margin: 32px 0;
}

.services-item {
    padding: 15px 0 10px;
    border-bottom: 1px solid #c4c4c4;
    display: flex;
    justify-content: space-between;
}

.services-text {
    font-size: 25px;
    line-height: 140%;
}

.services-price {
    display: none;
    font-weight: 900;
    font-size: 32px;
    line-height: 120%;
    margin-left: 10px;
    white-space: nowrap;
}
/* services end*/


/* about start*/

.about {
    background-image: url(../img/about_bg.jpg);
}

.about-pic-wrapper {
    width: 400px;
    float: right;
    margin-top: -164px;
    margin-left: 64px;
}

.about .section-title {
    margin-bottom: 120px;
}

.about-text {
    max-width: 375px;
    margin-bottom: 32px;
}
/* about end*/


/* advantage start*/

.advantage {
    background-color: #e5e5e5;
}

.advantage .section-title {
    margin-bottom: 64px;
}

.advantage-card-list {
    /*display: grid;*/
    /*grid-template-rows: repeat(2, 1fr);*/
    /*grid-template-columns: repeat(3, 1fr);*/
    /*grid-gap: 96px 190px;*/
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.advantage-card {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 64px;
    padding: 10px;
    transition: .2s;
}

.advantage-card:hover {
    background-color: #d20000;
    color: #fff;
}

.advantage-card-num {
    width: 72px;
    height: 72px;
    font-size: 25px;
    line-height: 72px;
    text-align: center;
    border: 1px solid #bdbdbd;
    border-radius: 50%;
    margin-bottom: 32px;
    background-color: #fff;
    color: #000;
}

.advantage-card-title{
    margin-bottom: 24px;
    font-weight: 900;
    font-size: 16px;
    line-height: 150%;
}

.advantage-card-text {
    font-weight: normal;
    font-size: 16px;
    line-height: 150%;
}

.advantage-button {
    display: block;
    margin: 64px auto 0;
}
/* advantage end*/

/*callback start*/

.callback {
    background-image: url(../img/callback_bg.jpg);
    padding-bottom: 120px;
}

.callback .container {
    display: flex;
    justify-content: flex-end;
}

.callback-form {
    max-width: 765px;
    display: flex;
    flex-direction: column;
    padding: 96px;
    background-color: #fff;
}

.callback-form-title {
    font-weight: 900;
    font-size: 42px;
    line-height: 140%;
    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #403D37;
    margin-bottom: 48px;
}

.callback-form input {
    border: none;
    border-bottom:2px solid #c4c4c4
}

.callback-form button {
    margin-top: 48px;
}
/*callback end*/


/*popup-form start*/

.popup-form-wrapper {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -100;
    opacity: 0;
    background-color: #fff;
    padding: 40px;
}
.popup-form-wrapper.active{
    background-color: #fff;
    z-index: 100;
    opacity: 1;
}

.popup-form-shadow {
    display: none;
}

.popup-form-shadow.active{
    display: block;
        position: fixed;
        content: "";
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 99;
        background-color: rgba(0,0,0,.8);
}
.popup-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.popup-form input {
    margin-bottom: 20px;
}
.popup-form-title {
    margin-bottom: 20px;
}
.popup-form-close {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
}
/*popup-form end*/


/*review start*/

.review {
    background-color: #e5e5e5;
}

.review .container {
    display: flex;
    flex-wrap: wrap;
}

.review-title-wrapper {
    width: 40%;
}

.review-button {
    margin-top: 64px;
}

.review-slider {
    width: 60%;
}

.review-card {
    position: relative;
}

.review-card-pic-wrapper {
    width: 160px;
    height: 160px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #838383;
    z-index: 0;
}

.review-card-desc-wrapper {
    padding-top: 64px;
    padding-left: 106px;
    position: relative;
    z-index: 3;
}

.review-card-date {
    font-weight: normal;
    font-size: 12px;
    line-height: 100%;
    margin-bottom: 16px;
}

.review-card-name {
    font-weight: 900;
    font-size: 24px;
    line-height: 120%;
    margin-bottom: 16px;
}

/*review end*/

/*catalog start*/

.catalog {
    display: none;
}
/*catalog end*/

/*contacts start*/

.map {
    position: absolute;
}
/*contacts end*/

/* footer start*/

.footer {
    padding: 82px 0 100px;
    background-color: #403D37;
    color: #fff;
}

.footer .container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.footer-title {
    font-weight: 900;
    font-size: 24px;
    line-height: 120%;
    text-transform: uppercase;
    margin-bottom: 32px;
}

.footer-address {
    font-size: 16px;
    line-height: 150%;
    color: #fff;
    text-decoration: none;
}

.footer-phone {
    font-weight: 900;
    font-size: 24px;
    color: #fff;
    text-decoration: none;
    margin-bottom: 68px;
}

.footer-button {
    margin-bottom: 32px;
}

.footer-logo {
    margin-bottom: 32px;
}
/* footer end */



/* adaptive media */

@media screen and (max-width: 1200px) {
    .container {
        width: 100%;
        padding: 0 30px;
    }

    .section-title {
        font-size: 5vw;
    }

    .header .phone-link {
        font-size: 4vw;
    }

    .hero-title,
    .hero-title-transparent {
        font-size: 7vw;
    }

    .services-text {
        font-size: 2.5vw;
    }

    .services-price {
        font-size: 2.5vw;
    }

    .about-pic-wrapper {
        margin-top: -64px;
        width: 30vw;
    }
}

@media screen and (max-width: 920px) {
    .map {
        position: initial;
    }
}

@media screen and (max-width: 768px) {
    .services-text,
    .services-price {
        font-size: 20px;
    }

    .advantage-card {
        width: 45%;
    }

    .about .section-title {
        margin-bottom: 32px;
    }

    .about-pic-wrapper {
        margin-top: 0;
        margin-left: 32px;
    }

    .callback-form {
        max-width: 100%;
        padding: 20px;
    }

    .callback-form-title {
        font-size: 6vw;
    }

    .review-title-wrapper {
        width: 100%;
        margin-bottom: 32px;
    }
    .review-slider {
        width: 100%;
    }


}

@media screen and (max-width: 480px) {
    section {
        padding: 24px 0;
    }

    .section-name {
        font-size: 18px;
    }

    .container {
        padding: 0 20px;
    }

    .header .container {
        flex-wrap: wrap;
    }

    .header .phone-link {
        order: 2;
        font-size: 22px;
        margin-left: auto;
    }

    .services-title {
        font-size: 20px;
        margin: 32px 0 12px;
    }

    .services-text,
    .services-price {
        font-size: 16px;
    }

    .advantage .section-title {
        margin-bottom: 32px;
    }

    .advantage-card {
        width: 100%;
        margin-bottom: 32px;
    }

    .advantage-card-num,
    .advantage-card-title {
        margin-bottom: 12px;
    }

    .advantage-button {
        margin: 0;
    }
}